@font-face{
    src: url(Buffet\ Script.otf);
    font-family: fontbanquyen;
}
@font-face{
    src: url(TrajanPro-Bold.otf);
    font-family: font_td;
}
.notification {
    width: 500px;
    height: 520px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(9, 193, 239, 0.2);
    z-index: 10000;
    text-align: center;
  }
  #myDiv {
    display: none;
    position: absolute;
    margin-top: 50px;
    margin-left: 500px;
  }
  img{
    width: 100px;
    padding-right: 10px;
  }
  .product-widget{
    display: flex;
  }
  button{
    color: black;
  }
  .dropdown{
    border: 2px solid red;
    width: 300px;
    height: 345px;
    background-color: white;
  }
  .delete{
    width: 20px;
    height: 20px;
    font-size: 10px;
    text-align: center;
    margin-right: 150px;
    position: absolute;
  }
  .product-widget{
    position: relative;
   text-transform: uppercase;
   color: black;
  
  }
  .product-widget a{
    text-decoration: none;
  }
  span{
    padding-right: 5px;
  }
  h5{
    text-transform: uppercase;
    margin-top: 1px;
  }
  .View-cart{
    width: 50%;
    display: inline-block;
    background-color: black;
    height: 50px;
    padding-top: 20px;
  }
  .checkout{
    float:right;
    width: 50%;
    padding: 0;
    background-color: red;
    height: 50px;
    padding-top: 20px;
  }
  .cart-btns{
    text-align: center;
  }
  .cart-btns a{
    text-decoration: none;
    color: white;
  }
  .cart-list{
    overflow-y: scroll;
    height: 241px;
  }
  h3.product-name a{
    color: black;
    font-size: 22px;
  }
  .hidden {
    display: none;
  }
  table{
    border: 1px solid aqua;
    width: 400px;
  }
  td{
        border-bottom: 1px solid black;
        border-right: 3px solid aqua;
  }
  td:hover{
    color: rgb(47, 180, 29);
  }
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    margin-top: 1px;
    font-weight: bold;
  }
  .fa-search{cursor: pointer;}
  #myButton{  cursor: pointer;}
body{
    background-image: url(https://qrt.distinctrobin.com/adt/banners/nam2015/4043/min_html5/images/2023-03-27/dieplamthi/1920x1200.jpg);
    background-repeat: no-repeat !important;
    background-position: top center !important;
    font-size: 100%;
    vertical-align: baseline;
}
*{margin:0; padding:0px;}
.bo{
    width: 1280px;
    margin: auto;
    padding-top: 53px;
}
.koten{
    display: flex;
    justify-content: center;
}
.name{
    text-align: center;
    width: 163px;
    margin: auto;
    height: 30px;
    font-size: 25px;
    text-transform: uppercase;
    padding-top: 20px;
    color: rgb(0, 204, 255);
    font-family: font_td;
    position: relative;
}
.name::after{
    content: '';
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -25px;
    position: absolute;
    transition: 0.4s;
    background-color: yellow;
}
.layer1{
    width: 1280px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    font-family: segoe ui light;
    height: 53px;
   background-image: -webkit-linear-gradient(-45deg,
   #fc6c8f,
   #ff2ced,
   #ffb86c,
   #2cccff
 );
    position: fixed;
    z-index: 9999;
    margin: auto;
}
.logo a.bt{
    width: 238px;
    font-family: fontbanquyen;
    color: rgb(0, 255, 234);
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
    display: block;
    text-decoration: none;
    transition: 0.4s;
}
.logo a.bt:hover{
    color: yellow;
}
#mnu{
    width: 401px;
    line-height: 50px;
    height: 30px;
}
#login{
    width: 269px;
    margin-top: 10px;
    background-image: -webkit-linear-gradient(-45deg,
    #fc6c8f,
    #ff2ced,
    #ffb86c,
    #2cccff,
    #20e3b2,
  );
}
#mnu > ul  {
    display: flex;
    list-style: none;
}

.muc_con{
    position: relative;
    width: 100px;
}
.muc_con a.chudau {
    text-decoration: none;
    position: absolute;
    height: 53px;
    line-height: 40px;
    width: 100px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    background-image: -webkit-linear-gradient(-45deg,

    #ffcc70,
    #c850c0,
    #4158d0
  );
    color: white;
}
.timkiem::before{
    content:"\f002";
    font-family: "Font Awesome 6 Pro";
}
.muc_con:hover a.chudau {
    background-color:pink;
    color: red;

}
a.chudau:hover{
    color: red;
}

/* end_css_layer1 */
.bo .thanhngang{
    width: 1280px;
    height: 90px;
    border: 1px solid aqua;
}
marquee{
    display: flex;
}
.bo .thanhngang img{
    width: 50px;
    height: 30px;
}
.bo .thanhngang{
    margin-top: 30px;
    background-image: -webkit-linear-gradient(left, #b92b27, #1565c0);
}
#slide img{
    height: 300px;
}
.layer2 img{
    width:100%;

}
.chia{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: red;
    margin-top: 30px;
    
}

/* end_layer2 */
*{margin: 0px; padding: 0px}
.tong{
    width: 300px;
    height: 250px;
    position: relative;
    overflow: hidden;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.4s;
}
.tong:hover{
    border: 5px solid red;
}
.tong img.anh_sp{
    width: 320px; 
    height: 100%; 
    position: relative;
    right: 10px;
    transition: 0.4s;
}
.tong:hover img.anh_sp{
right: 0px;
}
.tong .chutren h1{
    opacity: 1;
    position: absolute;
    margin-top: -236px;
    margin-left: 22px;
    color: white;
    transition: 0.4s;
    font-size: 20px;
}
.tong:hover .chutren h1{
      opacity: 0;

}
.tong .khung{
    height: 40px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0px;
    text-align: center;
    font-family: segoe ui light;
    overflow: hidden;
}
.tong .khung .chuduoi{
    top: 50px;
    position: relative;
    transition: 0.4s;
    color: white;
}
.tong:hover .khung .chuduoi{
    top: 0px;
   
}
.tong .khung .chuduoi{
    font-size: 15px;
}
.tong .khung .chuduoi p.chunho{
      font-size: 13px;

}
.layer_sp{
    display: flex;
    width: 925px;
    flex-wrap: wrap;
    margin: auto;
    justify-content:space-between;
    margin-top: 50px;
    font-weight: bold;
}
.layer_hien{
    
}
#hidden-content{
    display: flex;
    width: 925px;
    flex-wrap: wrap;
    margin: auto;
    justify-content:space-between;
    margin-top: 50px;
    font-weight: bold;
    
}
.hidden{
       display: none !important;
}
/* layer_sp */
.product {
    position: relative;
    margin: 15px 0px;
    -webkit-box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 1px #E4E7ED;
    box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 1px #E4E7ED;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    width: 300px;
    height: 448px;
    cursor: pointer;
    margin-bottom: 100px;
  }
  
  .product:hover {
    -webkit-box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #D10024;
    box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #D10024;
  }
  
  .product .product-img {
    position: relative;
  }
  
  .product .product-img>img {
    width: 100%;
    height: 290px;
    overflow: hidden;
  }
  
  .product .product-img .product-label {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .product .product-img .product-label>span {
    border: 2px solid;
    padding: 2px 10px;
    font-size: 12px;
  }
  
  .product .product-img .product-label>span.sale {
    background-color: #FFF;
    border-color: #D10024;
    color: #D10024;
  }
  
  .product .product-img .product-label>span.new {
    background-color: #D10024;
    border-color: #D10024;
    color: #FFF;
  }
  
  .product .product-body {
    position: relative;
    padding: 15px;
    background-color: #FFF;
    text-align: center;
    z-index: 20;
  }
  
  .product .product-body .product-category {
    text-transform: uppercase;
    font-size: 12px;
    color: #8D99AE;
  }
  
  .product .product-body .product-name {
    text-transform: uppercase;
    font-size: 14px;
  }
  
  .product .product-body .product-name>a {
    font-weight: 700;
  }
  
  .product .product-body .product-name>a:hover, .product .product-body .product-name>a:focus {
    color: #D10024;
  }
  
  .product .product-body .product-price {
    color: #D10024;
    font-size: 18px;
  }
  
  .product .product-body .product-price .product-old-price {
    font-size: 70%;
    font-weight: 400;
    color: #8D99AE;
  }
  
  .product .product-body .product-rating {
    position: relative;
    margin: 15px 0px 10px;
    height: 20px;
  }
  
  .product .product-body .product-rating>i {
    position: relative;
    width: 14px;
    margin-right: -4px;
    background: #FFF;
    color: #E4E7ED;
    z-index: 10;
  }
  
  .product .product-body .product-rating>i.fa-star {
    color: #ef233c;
  }
  
  .product .product-body .product-rating:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 1px;
    background-color: #E4E7ED;
  }
  .product .add-to-cart {
    position: absolute;
    left: 1px;
    right: 1px;
    bottom: 1px;
    padding: 15px;
    background: #1e1f29;
    text-align: center;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    z-index: 2;
  }
  
  .product:hover .add-to-cart {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
  
  .product .add-to-cart .add-to-cart-btn {
    position: relative;
    border: 2px solid transparent;
    height: 40px;
    padding: 0 30px;
    background-color: #ef233c;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 40px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  
  .product .add-to-cart .add-to-cart-btn>i {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 38px;
    color: #D10024;
    opacity: 0;
    visibility: hidden;
  }
  
  .product .add-to-cart .add-to-cart-btn:hover {
    background-color: #FFF;
    color: #D10024;
    border-color: #D10024;
    padding: 0px 30px 0px 50px;
  }
  
  .product .add-to-cart .add-to-cart-btn:hover>i {
    opacity: 1;
    visibility: visible;
  }
  
  /*----------------------------*\
      Widget product
  \*----------------------------*/
  
  .product-widget {
    position: relative;
  }
  
  .product-widget+.product-widget {
    margin: 30px 0px;
  }
  
  .product-widget .product-img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
  }
  
  .product-widget .product-img>img {
    width: 100%;
  }
  
  .product-widget .product-body {
    padding-left: 75px;
    min-height: 60px;
  }
  
  .product-widget .product-body .product-category {
    text-transform: uppercase;
    font-size: 10px;
    color: #8D99AE;
  }
  
  .product-widget .product-body .product-name {
    text-transform: uppercase;
    font-size: 12px;
  }
  
  .product-widget .product-body .product-name>a {
    font-weight: 700;
  }
  
  .product-widget .product-body .product-name>a:hover, .product-widget .product-body .product-name>a:focus {
    color: #D10024;
  }
  
  .product-widget .product-body .product-price {
    font-size: 14px;
    color: #D10024;
  }
  
  .product-widget .product-body .product-price .product-old-price {
    font-size: 70%;
    font-weight: 400;
    color: #8D99AE;
  }
  
  .product-widget .product-body .product-price .qty {
    font-weight: 400;
    margin-right: 10px;
  }
  
  .product-widget .delete {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    text-align: center;
    font-size: 10px;
    padding: 0;
    background: #1e1f29;
    border: none;
    color: #FFF;
  }
/* end_layer_sp */
#login ul{
    display: flex;
}
#login ul li.nav-log_in{
    list-style: none;
    text-align: center;
    margin-left: 10px;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 20px;
    margin-top: -4px;
}
#login ul li.nav-log_in a{
    text-decoration: none;
}
#login ul li.nav-log_in{
    width: 115px;
    height: 30px;
    line-height: 30px;
    background-image: -webkit-linear-gradient(left,rgba(255, 255, 0, 0.678),rgba(181, 81, 9, 0.799));
    border-radius: 30px;
    color:  rgb(5, 223, 234); 
    display: block;
}
#login ul li.nav-log_in .nut1::before{
    content: '\f007';
    padding-right: 4px;
    font-family: "Font Awesome 6 Pro";
}
.fa-user:hover{
    color: red;
}
span{
    padding-left: 5px;
}
#login ul li.nav-log_in:hover{ 
    background-image: -webkit-linear-gradient(left, #108dc7, #ef8e38);
    color: red;
}
#login ul li.nav-log_in .nut2{
    width: 115px;
    height: 30px;
    line-height: 30px;
    background-color: aqua;
    border-radius: 30px;
    text-align: center;
    color:  rgb(4, 255, 251); 
    display: block;
}
#login ul li.nav-log_in .nut2::before{
    content: '\f007';
    padding-right: 4px;
}
#login ul li.nav-log_in .nut2:hover{
    background-image: -webkit-linear-gradient( #108dc7, #ef8e38);
    color: red;
}
/* end */
.gt{
    display: flex;
    flex-wrap: wrap;
    width: 1280px;
    padding-bottom: 20px;
    font-weight: bold;
    justify-content: space-between;
}
.gt a.women{width:420px ; margin-right: 10px; height: 240px;}
.gt a.men{width: 410px; margin-right: 10px;}
a.tre_em .bo_1 img.anh_gt1{width: 426px; height: 180px;margin-top: 60px;  position: absolute;}
a.tre_em{
    padding-left: -7px;
}
hr{
    border: none;
    height: 3px;
    background-color: aqua;
    margin: 20px;
}
.logo_2{
    width: 1280px;
    height: 30px;
    font-family: fontbanquyen;
    font-size: 50px;
    color: aqua;
    text-align: center;
}
.logo_2:hover{
    color: red;
}
.xemtiep .icon{
    font-size: 13px;
    opacity: 0;
    display: inline;
    
}
.xemtiep{
   
}
.view{
    float: right;
    transition: 0.4;
    width: 150px;
}
.view:hover{
    color: rgb(230, 12, 12);
    transition: 0.4s;
    margin-right: 20px;
}
.view-more:hover{
    color: red;
}
.fa-arrow-left {
    transition: 0.4;
    color: black;
}
.timkiem{
    display: flex;
    margin-top: 7px;
}
.lbl{padding-right: 5px;}


/* end_timkiem */
*{
    margin: 0;
    padding: 0;
}
.bo_1{
    font-family: segoe ui light;
    font-size: 20px;
    position: relative;
    width: 420px;
    height: 300px;
    margin: auto;
    overflow: hidden;
}
.bo_1 img.anh_gt{width: 100%; height: 100%; position: absolute;    padding-bottom: 60px;}
.bo_1 .br_xam{
    width: 420px;
    height: 240px;
    background-color:aqua;
    position: absolute;
    transition: 0.4s;
    opacity: 0;
    border:15px solid rgb(7, 2, 2);
}
.bo_1:hover .br_xam{
   opacity: 1;
   box-sizing:border-box;
}
.bo_1 .chu_1 h2{
    top: 30px;
    left: 30px;
    transition: 0.4s;
    position: absolute;
    opacity: 0;
}
.bo_1:hover .chu_1 h2{ 
    transition-delay: 0.3s;
    opacity: 1;
    color: rgb(243, 16, 16);
}
.bo_1 .small{
    opacity: 0;
    top: 70px;
    left: 30px;
    transition: 0.4s;
    position: absolute;
}
.bo_1:hover .small{
    transition-delay: 0.4s;
    opacity: 1;
    font-size: 25px;
    color: rgb(188, 242, 10);
}
/* end */
.footer{
    background-color: rgba(84, 80, 80, 0.489);
    width: 1280px;
    height: 473px;
    font-weight: bold;
}
.top_footer{
   
   
    margin-top: 100px;
    display: flex;
}
.fo{
    position: relative;
    padding-right: 10px;
    margin-left: 120px;
   
}
.fo a.td{
    text-decoration: none;
   padding-right: 10px;
   height: 30px;
   width: 150px;
   display: block;
   background-color: orange;
   border-right: 1px solid gray;
   text-align: center;
}
.fo a.td:hover{
    background-color: red;
}
.bo .ds{
    visibility: hidden;
    opacity: 0;
    top: 100px;
    left: 0;
    position: absolute;
    transition: 0.4s;
}
.fo:hover .ds{
    visibility: visible;
    opacity: 1;
    top: 30px;
}
.fo .ds ul{ }
.fo .ds ul li{
    list-style: none;
}
.fo .ds ul li a{
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
    display: block;
    width: 150px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(219, 13, 13);
}
.fo .ds ul li a:hover{
    background-color: aqua;
}
.tk{margin-left: 50px;}
.tk .tk1{}
.tk .tk1 li{ list-style: none;}
.tk .tk1 li a{text-decoration: none; color: black;}
.tkxh b{ display: block;}
.fa-magnifying-glass{
    padding-left: 10px;
    color: black;
}
.tkxh{
    text-align: center;
    padding-left:70px;
}
.tin{
    width: 200px;
    margin-left: 60px;
}
.tin a{
    display: block;
}
a.link{
   text-decoration: none;
   font-weight: bold;
   color: aqua;
   margin-bottom: 100px;
   display: block;
}
.ttshop{
    margin-left: 500px;
    display: flex;
    text-align: center;
    margin-top: 20px;
}
._1{
    margin-right: 10px;
}
.chuweb{
    margin-left: 131px;
    margin-bottom: -14px;
    margin-top: -108px;
} 
.dieukhoan{
    text-align: center;
    margin-top: 73px;
}
.search-box{
    margin-top: 5px;
}
.search-box label,
.search-box input {
  display: none;
}

.search-box:hover label,
.search-box:hover input {
  display: inline-block;
}
.fa-cart-plus{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    display: inline-block;
}
.fa-cart-plus:before {
    content: "\f217";
    font-size: 25px;
}